*{margin: 0px; padding: 0px; box-sizing: border-box;}
.yesil{background-color: green; color: white; display: flex;height:30px; width: 100px;justify-content: center;}
.sari{background-color: yellow; color: black; height: 30px; width: 100px; justify-content: center; display: flex;}
.kirmizi{background-color: red; color: white; height: 30px; width: 100px; display: flex; justify-content: center;}
table{width: 100%;height: 700px;margin-top: 50px;margin-left: 20px;margin-right: 32px;
align-items: center;background-color: white;
text-align: center;padding: 1rem;
justify-content: center;border-collapse: collapse;border:8px solid white;table-layout: fixed;}
table,td,th{height: 100px;}
